<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Projeto 1 - Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Projeto 1 - Mobile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="center">
      <ion-button id="button-alert">Alerta</ion-button>
      <ion-alert
        trigger="button-alert"
        header="Alerta"
        message="Erlon Matheus - 01797598">
      </ion-alert>
    </div>
  </ion-content>
